@font-face {
	font-family: "LEMONMILK-Bold";
	src: url('fonts/LEMONMILK-Bold.eot');
	src: local('☺'), url('fonts/LEMONMILK-Bold.woff') format('woff'), url('fonts/LEMONMILK-Bold.ttf') format('truetype'), url('fonts/LEMONMILK-Bold.svg') format('svg');
}

@font-face {
	font-family: "Book Antiqua";
	src: url('fonts/BKANT.TTF');
}

body {
  background-color: #222629;
  margin:0px;
  color: #f8f8f8;
}

.headliner {
  padding-left: 20px;
  font-family:'LEMONMILK-Bold',sans-serif;
}

.headliner .name {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 35px;
  color: #ffffff;
}

.headliner .content {
  font-family: 'Book Antiqua';
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.headliner .logos {
  float: right;
  padding-right: 15px;
  color: #ffffff;
}

.headliner .logos a {
  float: right;
  padding-right: 5px;
  padding-left: 10px;
}

.navbar {
  padding-left: 10px;
  margin: 0px;
  overflow: hidden;
  background-color: #61892f;
  position: sticky;
  top: 0;
}

.navbar ul{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.navbar li{
  float: left;
  list-style-type: none;
  font-family: "Berlin Sans FB";
  font-size: 20px;
}

.navbar a:link {
  color: #05004e;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}

.navbar a:visited {
  color: #05004e;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #313437;
  text-decoration: none;
  color: #86c232;
}

.navbar a:active{
  background-color: #474b4f;
}

.content{
  padding-left: 10px;
}
