@font-face {
	font-family: "LEMONMILK-Bold";
	src: url('fonts/LEMONMILK-Bold.eot');
	src: local('☺'), url('fonts/LEMONMILK-Bold.woff') format('woff'), url('fonts/LEMONMILK-Bold.ttf') format('truetype'), url('fonts/LEMONMILK-Bold.svg') format('svg');
}

@font-face {
	font-family: "Book Antiqua";
	src: url('fonts/BKANT.TTF');
}

.clearfix{
	clear: both;
}

body {
  background-color: #212121;
  margin:0px;
  color: #f8f8f8;
}

header {
  padding-left: 20px;
  font-family:'LEMONMILK-Bold',sans-serif;
}

header .name {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 35px;
  color: #ffffff;
}

header .content {
  font-family: 'Book Antiqua', sans-serif;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
	float: left;
}

header .logos {
  float: right;
  padding-right: 15px;
  color: #ffffff;
}

header .logos a {
  float: right;
  padding-right: 5px;
  padding-left: 10px;
}

.navbar {
  padding-left: 10px;
  margin: 0px;
  overflow: hidden;
  background-color: #61892f;
  position: sticky;
  top: 0;
}

.navbar ul{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.navbar li{
  float: left;
  list-style-type: none;
  font-family: "Berlin Sans FB";
  font-size: 20px;
}

.navbar a:link {
  color: #05004e;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
	transition: 0.5s;
}

.navbar a:visited {
  color: #05004e;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #313437;
  text-decoration: none;
  color: #86c232;
	transition: 0.3s;
}

.navbar a:active{
  background-color: #474b4f;
}

@keyframes sectionmoveh1 {
	0% { margin-top: 100%;}
	100% {margin-top: 0px; }
}
@keyframes sectionmoveelse {
	0% { margin-top: 100%;}
	100% {h3{margin-top: 18px;} p{margin-top: 16px;} }
}

section{
  padding-left: 10px;
  padding-top: 0px;
  box-sizing: border-box;
	margin-right: 10px;
	margin-top: 40px;
	float: right;
	width: 70%;
	box-sizing: border-box;
	position: relative;
}

section h1 {
	margin-top: 0;
	padding-top: 0;
	font-size: 32px;
	animation: sectionmoveh1 2s;
	font-family: 'Averia Serif Libre';
	font-color: #fff;
}

section  h3 {
	animation: sectionmoveelse 2s;
	font-family: Merriweather;
	letter-spacing: 1px;
	font-size: 20px;
	margin-bottom: 0px;
}

section  p {
	animation: sectionmoveelse 3s;
	font-family:'Noto Sans JP';
	margin-top: 10px;
}

aside{
	float: left;
	background-color:#ffd700;
	color: #000000;
	padding: 7px;
	width: 25%;
	opacity: 0.7;
	margin-left: 15px;
	margin-top: 40px;
	border-radius: 25px;
	box-sizing: border-box;
}

@keyframes imageopacity {
	0% { opacity: 0%;}
	100% { opacity: 100%;}
}

aside img{
	width: 70%;
	border: 5px;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 50%;
	margin-left: 12.5%;
	margin-top: 5px;
	animation: imageopacity 2s ;
}

aside p{
	text-align: center;
	font-family: 'Raleway';
	font-weight: bold;
}

footer{
	text-align: center;
	position: fixed;
	bottom: 0;
	font-family: 'Ubuntu';
	width: 99.0207%;
	padding: 15px;
	padding-right: 0px;
	background-color: #59253a;
}
